<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="SPEED_DATA" version="3.1">
  <display-name>SPEED_DATA</display-name>
	<servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>speed.LoginServlet</servlet-class>
    </servlet>
  	<servlet>
        <servlet-name>GetDrivers</servlet-name>
        <servlet-class>speed.GetDrivers</servlet-class>
    </servlet>
  	<servlet>
        <servlet-name>GetVehicles</servlet-name>
        <servlet-class>speed.GetVehicles</servlet-class>
    </servlet>
  	<servlet>
        <servlet-name>GetChartPoints</servlet-name>
        <servlet-class>speed.GetChartPoints</servlet-class>
    </servlet>
  	<servlet>
        <servlet-name>GetLatLngValues</servlet-name>
        <servlet-class>speed.GetLatLngValues</servlet-class>
    </servlet>
  	<servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>speed.LogoutServlet</servlet-class>
    </servlet>
  	<servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetDrivers</servlet-name>
        <url-pattern>/getDrivers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetVehicles</servlet-name>
        <url-pattern>/getVehicles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetChartPoints</servlet-name>
        <url-pattern>/getChartPoints</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetLatLngValues</servlet-name>
        <url-pattern>/getLatLngValues</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/getLogout</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
          <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>